RewriteEngine On

RewriteRule ^/$ index.php?url=/ [L]
RewriteRule ^admin$ index.php?url=admin [L]

RewriteRule ^admin/dang-nhap$ index.php?url=admin/dang-nhap [L]
RewriteRule ^admin/dang-xuat$ index.php?url=admin/dang-xuat [L]
RewriteRule ^admin/quen-mat-khau$ index.php?url=admin/quen-mat-khau [L]

RewriteRule ^admin/tai-khoan$ index.php?url=admin/tai-khoan [L]
RewriteRule ^admin/tai-khoan/them$ index.php?url=admin/tai-khoan/them [L]
RewriteRule ^admin/tai-khoan/xoa/([0-9]+)$ index.php?url=admin/tai-khoan/xoa&id=$1 [L]

RewriteRule ^test/([0-9]+)/([0-9]+)/([A-Za-z0-9-]+)$ index.php?url=test&id=$1&slug=$2&slug2=$3 [L]

RewriteRule ^admin/ve$ index.php?url=admin/ve [L]
RewriteRule ^admin/them-ve$ index.php?url=admin/them-ve [L]
RewriteRule ^admin/ve/cap-nhat/([0-9]+)$ index.php?url=admin/ve/cap-nhat&id=$1 [L]
RewriteRule ^admin/ve/xoa/([0-9]+)$ index.php?url=admin/ve/xoa&id=$1 [L]

RewriteRule ^admin/hang-hang-khong$ index.php?url=admin/hang-hang-khong [L]
RewriteRule ^admin/them-hang-hang-khong$ index.php?url=admin/them-hang-hang-khong [L]
RewriteRule ^admin/hang-khong/cap-nhat/([0-9]+)$ index.php?url=admin/hang-khong/cap-nhat&id=$1 [L]
RewriteRule ^admin/hang-khong/xoa/([0-9]+)$ index.php?url=admin/hang-khong/xoa&id=$1 [L]

RewriteRule ^admin/san-bay$ index.php?url=admin/san-bay [L]
RewriteRule ^admin/them-san-bay$ index.php?url=admin/them-san-bay [L]
RewriteRule ^admin/san-bay/cap-nhat/([0-9]+)$ index.php?url=admin/san-bay/cap-nhat&id=$1 [L]
RewriteRule ^admin/san-bay/xoa/([0-9]+)$ index.php?url=admin/san-bay/xoa&id=$1 [L]

RewriteRule ^san-pham$ index.php?url=san-pham [L]
RewriteRule ^chi-tiet-san-pham/([0-9]+)$ index.php?url=chi-tiet-san-pham&id=$1 [L]

RewriteRule ^404$ index.php?url=404 [L]

    
ErrorDocument 404 http://localhost/wd18302_php2_nguyenleanhkhoa/404